@use "../../theme/colours.scss" as colours;
@import "../../theme/theme.scss";
.custom-link {
        font-family: map-get($theme, typography, heading-compact-01, fontFamily);
        font-weight: map-get($theme, typography, heading-compact-01, fontWeight);
        line-height: map-get($theme, typography, heading-compact-01, lineHeight);
        font-size: map-get($theme, typography, heading-compact-01, fontSize);
        letter-spacing: map-get($theme, typography, heading-compact-01, letterSpacing);
        margin-top: map-get($theme, typography, heading-compact-01, marginTop);
        margin-bottom: map-get($theme, typography, heading-compact-01, marginBottom);
        margin-left: map-get($theme, typography, heading-compact-01, marginLeft);
        text-transform: map-get($theme, typography, heading-compact-01, textTransform);
        text-decoration: map-get($theme, typography, heading-compact-01, textDecoration);
    &.primary{
        color: colours.$green-700;
        &:hover {
            color: colours.$green-400;
            text-decoration: underline;
        }
    }
    &.secondary{
        color: colours.$grey-200;
        &:hover {
            color: colours.$grey-200;
            text-decoration: underline;
        }
    }
    &.light{
        color: colours.$grey-200;
        &:hover {
            text-decoration: underline;
        }
    }
}
