$theme: (
   typography: (
       heading-01: (
               fontFamily: var(--font-primaryFont),
                        fontWeight: 400,
                        lineHeight: 19px,
                        fontSize: 14px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-02: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 19px,
                        fontSize: 14px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-03: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 400,
                        lineHeight: 21px,
                        fontSize: 16px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-04: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 21px,
                        fontSize: 16px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-05: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 26px,
                        fontSize: 20px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-06: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 32px,
                        fontSize: 24px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-07: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: AUTOpx,
                        fontSize: 32px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                heading-compact-01-underline: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 18px,
                        fontSize: 12px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: underline
                ),
                heading-compact-01: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 18px,
                        fontSize: 14px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                Body-compact-01: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 400,
                        lineHeight: 19px,
                        fontSize: 14px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                label-01: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 400,
                        lineHeight: 16px,
                        fontSize: 12px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                label-02: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 500,
                        lineHeight: 16px,
                        fontSize: 12px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                ),
                helper-text-01: (
                        fontFamily: var(--font-primaryFont),
                        fontWeight: 400,
                        lineHeight: 16px,
                        fontSize: 12px,
                        letterSpacing: 0px,
                        marginTop: 0px,
                        marginBottom: 0px,
                        marginLeft: 0px,
                        textTransform: none,
                        textDecoration: none
                )
        ),
  colors: (
    brand-50: #fdeee9,
    brand-100: #faccbe,
    brand-200: #f7ab93,
    brand-300: #f38968,
    brand-400: #f0673d,
    brand-500: #ed4612,
    brand-600: #c2390f,
    brand-700: #972c0c,
    brand-800: #6c2008,
    brand-900: #411305,
    brand-950: #150602,
    grey-50: #f9fafb,
    grey-100: #f1f5f9,
    grey-200: #e5e7eb,
    grey-300: #d1d5db,
    grey-400: #9ca3af,
    grey-500: #6b7280,
    grey-600: #475569,
    grey-700: #334155,
    grey-800: #1e293b,
    grey-900: #111827,
    grey-950: #020617,
    green-50: #f0fdf4,
    green-100: #dcfce7,
    green-200: #bbf7d0,
    green-300: #86efac,
    green-400: #4ade80,
    green-500: #22c55e,
    green-600: #16a34a,
    green-700: #15803d,
    green-800: #166534,
    green-900: #14532d,
    green-950: #052e16,
    red-50: #fef2f2,
    red-100: #fee2e2,
    red-200: #fecaca,
    red-300: #fca5a5,
    red-400: #f87171,
    red-500: #ef4444,
    red-600: #dc2626,
    red-700: #b91c1c,
    red-800: #991b1b,
    red-900: #7f1d1d,
    red-950: #450a0a,
    rose-50: #fff1f2,
    rose-100: #ffe4e6,
    rose-200: #fecdd3,
    rose-300: #fda4af,
    rose-400: #fb7185,
    rose-500: #f43f5e,
    rose-600: #e11d48,
    rose-700: #be123c,
    rose-800: #9f1239,
    rose-900: #881337,
    rose-950: #4c0519,
    white-text-white: #ffffff
  ),
  fontFamilies: (
    primary: (
      var: var(--font-primaryFont),
      value: Inter
    )
  ),
  fontSize: (
    0: 12px,
    1: 14px,
    2: 16px,
    3: 18px,
    4: 20px,
    5: 24px,
    6: 30px,
    7: 36px,
    8: 48px,
    9: 60px,
    10: 72px,
    11: 96px,
    12: 128px
  ),
  borderRadius: (
    border-radius-small: 2px,
    border-radius-medium: 6px,
    border-radius-large: 10px,
    border-radius-circle: 50%
  ),
  boxShadow: (
    shadow-02: 0px 4px 4px 0px #00000080,
    shadow-01: 0px 0px 9px 0px #00000014
  ),
  lineHeight: (
    0: 16px,
    1: 20px,
    2: 24px,
    3: 28px,
    4: 32px,
    5: 36px,
    6: 40px,
    7: 48px,
    8: 60px,
    9: 72px,
    10: 96px,
    11: 128px
  )
);
